* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.container {
  width: 600px;
  margin: 0 auto;
}
#login_form,#signup_form {
  position: absolute;
  display: inline-block;
  border: 5px red groove;
  border-radius: 50px;
  left: 35%;
  top: 20%;
  background-color: grey;
  height: 200;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 30%;
}
#login_form input, #login_form input, #signup_form input, #signup_form input{
  width: 85%;
  padding: 0;
  margin: 0;
  padding: 10px;
  border: 5px grey solid;
  border-radius: 30px;
  }
#login_form input[type='submit']:hover, #signup_form input[type='submit']:hover {
  border: 5px red groove;
}
#newSurvey {
  width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.optionButton {
  width: 22px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: solid red 2px;
}
#new input{
  width: 200px;
  display: block;
  margin: 0 auto;
  border: 5px red groove;
  text-align: center;
}
#addOption {
float: left;
}
#removeOption {
float: right;
}

.navButton {
  width: 200px;
  display: block;
  margin: 10px auto;
  border: 5px red groove;
}
#new h2 {
  text-align: center;
}



#canvas {
  position: fixed;
  top:50px;
  left: 0;
  z-index: -1;
}
#topnav {
  top:0;
  height: 50px;
  width: 100%;
  margin: auto;
  background-color: red;
  font-size: 25px;
  background-color:
}
#topnav a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color:yellow;

}
#back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}
#topnav ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
}
#topnav li {
  display: inline-block;
  margin: 0 30px;
  margin-top: 10px;
}
#topnav .right {
  float:right;
}
