<script src="/js/answer.js"></script>
<div class="container">

  <div id="new">
    <!-- <h2>Question <%=survey_number%></h2> -->
    <form id="survey" action="/survey" method="post">
    <div id="inputsDiv">
<!--     <% @survey.each_with_index do |survey, survey_number| %>
 -->    <div>
      <span class="question">question</span>
<!--       <% survey.options.each do |option| %>
 -->      <button type="button" class="option">test</button>
<!--       <% end %>
 -->    </div>
<!--     <% end %>
-->  </div>
  <input type="submit">
</form>
<button type="button" id="next">Next</button>
<button type="button" id="prev">Prev</button>
</div>
</div>
