<form id='signup_form' action="/user/signup" method="post">
  <p>Sign Up</p>
  <input type="input" name="email"placeholder="Email">
  <input type="input" name="password" placeholder="Password">
  <input type="input" name="password_confirmation" placeholder="Confirm password">
  <input type="submit" name="submit">
</form>


<form id="login_form" action="/user/login" method="post">
  <p>Login</p>
  <input type="input" name="email" placeholder="email">
  <input type="input" name="password" placeholder="password">
  <input type="submit" name="submit">
</form>

<div id="back"></div>
