<% @surveys.each do |survey| %>
<a class="surveyitem" href="/survey/<%= survey.id %>"><%= survey.name %></a>
<% end %>
<script src="/js/move.js"></script>
<canvas id="canvas" width="0" height="0"></canvas>

