<script src="/js/new.js"></script>
<div class="container">
  <div id="new">
    <h2>Question 1</h2>
    <form id="newSurvey" action="/survey" method="post">
      <div id="inputsDiv">
      </div>
      <button class="optionButton" type="button" id="addOption">+</button>
      <button class="optionButton" type="button" id="removeOption">-</button>
      <button class="navButton" type="button" id="next">Next   ----> </button>
      <button class="navButton" type="button" id="prev">Prev   <---- </button>
      <input type="submit">
    </form>
  </div>
</div>
