<script src="/js/new.js"></script>
<div class="container">
  <div id="new">
    <h2>Question 1</h2>
    <form id="newSurvey" action="/survey" method="post">
      <input type="text" id="title" name="title" placeholder="Title">
      <div id="inputsDiv">
      </div>
      <button class="optionButton" type="button" id="addOption">+</button>
      <button class="optionButton" type="button" id="removeOption">-</button>
      <div id="navbuttonsdiv">
        <button class="navButton" type="button" id="next">Next   ----> </button>
        <button class="navButton" type="button" id="prev">Prev   <---- </button>
        <input class="navButton" type="submit">
      </div>
    </form>
  </div>
</div>
<script src="/js/move.js"></script>
<canvas id="canvas" width="10" height="20"></canvas>
