<div id="topnav">
  <ul>
    <li><a href="/survey/new">New Survey</a></li>
    <li><a href="/survey/">Your Surveys</a></li>
    <li><a href="/survey">Answer Surveys</a></li>
    <li class="right"><a href="">Log out</a></li>
  </ul>
</div>
